<div class="page-wrapper">
  <div class="calendar-container">
    <div class="calendar">
      <div class="calendar-headline">
        <div class="calendar-headline-month">
          {{ firstDayOfActiveMonth().monthShort }}, {{ firstDayOfActiveMonth().year }}
        </div>
        <div class="calendar-headline-controls">
          <div class="calendar-headline-control" (click)="goToPreviousMonth()">«</div>
          <div class="calendar-headline-control calendar-headline-control-today" (click)="goToToday()">Today</div>
          <div class="calendar-headline-control" (click)="goToNextMonth()">»</div>
        </div>
      </div>

      <div class="calendar-weeks-grid">
        @for (weekDay of weekDays();track weekDay) {
          <div class="calendar-weeks-grid-cell">
           {{ weekDay }}
          </div>
        }

      </div>

      <div class="calendar-grid">
        @for (dayOfMonth of daysOfMonth(); track dayOfMonth) {
        <div
          class="calendar-grid-cell"
          [class.calendar-grid-cell-active]="activeDay()?.toISODate() === dayOfMonth.toISODate()"
          [class.calendar-grid-cell-inactive]="dayOfMonth.month !== firstDayOfActiveMonth().month"
          [class.calendar-grid-cell-has-task]="hasMeetings(dayOfMonth)"
          [class.calendar-grid-cell-holiday]="isHoliday(dayOfMonth)"
          [title]="getHolidayName(dayOfMonth) || ''"
          (click)="onDayClick(dayOfMonth)"
        >
          <div class="calendar-grid-cell-date">
            {{ dayOfMonth.day }}
            @if (isHoliday(dayOfMonth)) {
              <span></span>
            }
          </div>
            @if (isHoliday(dayOfMonth)) {
              <div class="calendar-grid-cell-holiday-label">
                {{ getHolidayName(dayOfMonth) }}
              </div>
            }

            @if (!isHoliday(dayOfMonth)) {
              <ul class="calendar-day-meetings">
                @for (meeting of getMeetingsForDay(dayOfMonth); track meeting) {
                  <li>{{ meeting }}</li>
                }
              </ul>
            }

        </div>
        }
      </div>
    </div>

    <div class="schedule">
      <div class="schedule-headline">
        @if (activeDay()) {
          <div>
            {{ activeDay()!.toLocaleString(DATE_MED) }}
          </div>
        }
        @else {
            <div>
              Please select a day
            </div>
        }
      </div>

      <div>
        @if (activeDay() && activeDayMeetings().length === 0) {
          <div class="empty-state">
            No Planned Tasks Today
          </div>
        }

        @if (activeDay() && activeDayMeetings().length > 0) {
          <div>
            @for (meetings of activeDayMeetings(); track meetings) {
              <div class="plan">
                <span>Who: User 1</span><br>
                <span>What: {{ meetings }}</span><br>
                <span>Where: Department 2</span>
              </div>
            }
          </div>
        }

      </div>
    </div>
  </div>
</div>
