<div class="page-wrapper">
  <div class="calendar-container">
    <div class="calendar">
      <div class="calendar-headline">
        <div class="calendar-headline-month head-color">
          {{ firstDayOfActiveMonth().monthShort }}, {{
          firstDayOfActiveMonth().year }}
        </div>
        <div class="calendar-headline-controls head-color">
          <div class="calendar-headline-control" (click)="goToPreviousMonth()">
            <i class="fa fa-chevron-left"></i>
          </div>
          <div
            class="calendar-headline-control calendar-headline-control-today"
            (click)="goToToday()"
          >
            TODAY
          </div>
          <div class="calendar-headline-control" (click)="goToNextMonth()">
            <i class="fa fa-chevron-right"></i>
          </div>
        </div>
      </div>
      <div class="calendar-weeks-grid">
        @for (weekDay of weekDays();track $index) {
        <div class="calendar-weeks-grid-cell">{{ weekDay }}</div>
        }
      </div>
      <div class="calendar-grid">
        @for (dayOfMonth of daysOfMonth(); track $index) {
        <div
          class="calendar-grid-cell"
          [class.calendar-grid-cell-active]="activeDay()?.toISODate() === dayOfMonth.toISODate()"
          [class.calendar-grid-cell-inactive]="dayOfMonth.month !== firstDayOfActiveMonth().month"
          [class.calendar-grid-cell-has-task]="hasMeetings(dayOfMonth)"
          [class.calendar-grid-cell-holiday]="isHoliday(dayOfMonth)"
          [title]="getHolidayName(dayOfMonth) || ''"
          (click)="onDayClick(dayOfMonth)"
        >
          <div class="calendar-grid-cell-date">
            {{ dayOfMonth.day }}
          </div>
          @if (isHoliday(dayOfMonth)) {
          <div class="calendar-grid-cell-holiday-label">
            {{ getHolidayName(dayOfMonth) }}
          </div>
          } @if (!isHoliday(dayOfMonth)) {
          <ul class="calendar-day-meetings">
            @for (meeting of getMeetingsForDay(dayOfMonth); track $index) {
            <li>{{ meeting }}</li>
            }
          </ul>
          }
        </div>
        }
      </div>
    </div>
    <div class="schedule">
      <div class="schedule-headline head-color">
        @if (activeDay()) {
        <div>{{ activeDay()!.toLocaleString(DATE_MED) }}</div>
        } @else {
        <div>Please select a day</div>
        }
      </div>

      <div class="current-announcements-wrapper">
        @if (activeDay() && activeDayMeetings().length === 0) {
        <div class="empty-state">No Announcements</div>
        } @if (activeDay() && activeDayMeetings().length > 0) {
        <div >
          @for (meetings of activeDayMeetings(); track $index) {
          <div class="plan">
            <div>{{meetings.title}}</div>
            <div>{{meetings.message}}</div>
            <div>{{meetings.receiver}}</div>
          </div>
          }
        </div>
        }
      </div>
    </div>
  </div>
</div>
