<!-- @if (showSelect) {
  <div class="select-container" (click)="showSelect = false">
    <div class="select-wrapper">
      @for (item of employees(); track $index) {
    <div>Select a user</div>
    }
    </div>
  </div>
} -->

<div class="announcement-container">
  <div class="announcement-wrapper">
    <div class="top-bar">
      <h2 class="head-color">Announcements</h2>
      @if (!showNewForm) {
      <input [(ngModel)]="searchTerm" placeholder="Search" class="input" />
      }
    </div>

    @if (showNewForm) {
    <div class="form-box">
      <input [(ngModel)]="newTitle" placeholder="Title" class="input" />
      <textarea
        [(ngModel)]="newMessage"
        placeholder="Message"
        class="textarea"
      ></textarea>

      <div [className]="'form-actions'">
        <div class="picker">
          <p>Announced In:</p>
          <input [(ngModel)]="newDate" type="date" class="input" />
        </div>
        <div class="picker">
          <p>Remind In:</p>
          <input [(ngModel)]="newDate" type="number" class="input" />
        </div>
      </div>
      <input
        input
        #receiver
        [formControl]="autocomplete"
        (onFocus)="showFocus()"
        placeholder="Receiver"
        class="input"
      />

      <div class="autocomplete">
        @if (showSelect) { @for (item of employees(); track $index) {
        <div class="member">{{item.nickname}}</div>
        } }
      </div>
      <div class="form-actions"></div>

      <div class="form-footer">
        <div class="pin-toggle">
          <input type="checkbox" id="pin" [(ngModel)]="isPinned" />
          <label for="pin">Pin this Announcement</label>
        </div>
        <div class="btn">
          <button class="post-btn" (click)="addAnnouncement()">
            <i class="fas fa-paper-plane"></i>
          </button>
          <button class="cancel-btn" (click)="showNewForm = false">
            <i class="fas fa-ban"></i>
          </button>
        </div>
      </div>
    </div>
    } @else {

    <div class="widget">
      <span class="label">Today :</span>
      <span class="value">{{ today | date }}</span>
    </div>

    <div class="card-container">
      @for (a of filteredAnnouncements; track a) {
      <div class="card">
        <div class="card-header">
          <h3>
            {{ a.title }} @if (a.pinned) {
            <span title="Pinned">📌</span>
            }
          </h3>
        </div>
        <p>{{ a.message }}</p>
        <small>{{ a.date }} — <i>{{ a.receiver }}</i></small>
      </div>
      }

      <div class="card add-announcement-card" (click)="showNewForm = true">
        <div class="add-icon">+</div>
        <div class="add-label">Add Announcement</div>
      </div>
    </div>

    <div class="reminder-card">
      <h3>Reminders</h3>
      <div class="reminder-list">
        @for (a of filteredAnnouncements; track a) {
        <div class="card">
          <div class="card-header">
            <h3>
              {{ a.title }} @if (a.pinned) {
              <span title="Pinned">📌</span>
              }
            </h3>
          </div>
          <p>{{ a.message }}</p>
          <small>{{ a.date }} — <i>{{ a.receiver }}</i></small>
        </div>
        }
      </div>
    </div>

    <div class="portfolio-sections">
      <div class="portfolio-section">
        <h3>Incoming</h3>
        <ul class="portfolio-thumbnails">
          <li>
            <img src="head.png" />
            <div class="overlay">
              <i class="fas fa-eye"></i>
              <a href="#"> View </a>
            </div>
          </li>
        </ul>
      </div>
      <div class="portfolio-section">
        <h3>Outgoing</h3>
        <ul class="portfolio-thumbnails">
          <li>
            <img src="head.png" />
            <div class="overlay">
              <i class="fas fa-eye"></i>
              <a href="#"> View </a>
            </div>
          </li>
        </ul>
      </div>
    </div>

    }
  </div>
</div>
