<div class="announcement-container">
  <div class="announcement-wrapper">
    <div class="top-bar">
      @if (!showNewForm && !showReminderForm && !showIncomingForm && !showOutgoingForm) {
      <h2 class="head-color">Announcements</h2>
      <input [(ngModel)]="searchTerm" placeholder="Search" class="input"/>
      }
    </div>

    @if (showNewForm) {
    <form class="form-box" [formGroup]="announceForm" >
      <input formControlName="title" placeholder="Title" class="input" />
      <textarea
        formControlName="message"
        placeholder="Message"
        class="textarea"
      ></textarea>

      <div [className]="'form-actions'">
        <div class="picker">
          <p>Announced On:</p>
          <input formControlName="date" type="date" class="input" />
          <p>Remind In (day/s):</p>
          <input
            (invalid)="onError('reminder')"
            formControlName="reminder"
            type="number"
            class="input"
            min="0"
            [pattern]="'^[0-9]*$'"
          />
        </div>

        <div class="input-wrapper">
          <input
            #receiver
            formControlName="employee"
            placeholder="Search Employee/s"
            type="text"
            class="input"
            (focus)="showSelect = true"
          />
          @if (showSelect) {
          <i class="close-icon fas fa-close" (click)="showSelect = false"></i>
          }
        </div>
      </div>

      @if (showSelect) { @if(added_employees.length >= 0 && added_employees[0]
      != 'Everyone') {
      <div class="autocomplete">
        <div class="member" (click)="onEveryoneClick()">Everyone</div>
        @for (item of employees(); track $index) {
        <div class="member" (click)="onMemberClick(item.nickname)">
          {{item.nickname}}
        </div>
        }
      </div>
      }}

      <div class="added_employees">
        @for (item of added_employees; track $index) {
        <div class="member">
          {{item}}
          <i class="fas fa-times" (click)="onAddedMemberClick(item)"></i>
        </div>
        }
      </div>

      <div class="form-footer">
        <div class="pin-toggle">
          <input type="checkbox" id="pin" formControlName="pinned" />
          <label for="pin">Pin this Announcement</label>
        </div>
        <div class="btn">
          <button class="post-btn" (click)="onSubmit()">
            <i class="fas fa-paper-plane"></i>
          </button>
          <button class="cancel-btn" (click)="showNewForm = false">
            <i class="fas fa-ban"></i>
          </button>
        </div>
      </div>
    </form>

    } @else if (showReminderForm) {
    <div class="reminder-card" style="margin-top: -10px;">
      <div class="header">
        <h3>Reminders</h3>
        <form [formGroup]="reminderFilterForm">
          <select class="input" formControlName="filter">
            <option value="All">All</option>
            <option value="Everyone">Everyone</option>
            @for (item of employeesv2; track $index) {
              <option value="{{item}}">{{item}}</option>
            }
          </select>
          <input formControlName="search" placeholder="Search" class="input"/>
        </form>
        <i class="fas fa-close" (click)="showReminderForm = false"></i>
      </div>
      <div class="reminder-list">
        @for (a of reminders(); track $index) {
        <div
          class="card"
          [ngClass]="'receiver-' + sanitizeReceiver(a.receiver)"
        >
          <div class="card-header">
            <h3>
              {{ a.title }} @if (a.pinned) {
              <span title="Pinned">📌</span>
              }
            </h3>
          </div>
          <p>{{ a.message }}</p>
          <small
            >{{ a.date }} — <i><strong> {{ a.receiver }}</strong></i></small
          >

          <div class="action-container">
            <p>
              Remind On : <strong>{{computedReminder(a.date, $index)}}</strong>
            </p>
            <form action="" [formGroup]="reminderForm">
              <input
                formControlName="reminder"
                type="number"
                value="{{a.reminder}}"
                min="0"
              />
            </form>
            <button class="" (click)="saveReminder(a, $index)">
              <i class="fas fa-save"></i>
            </button>
          </div>
        </div>
        }
      </div>
    </div>
    }

    @else if (showIncomingForm) {
    <form class="form-box2" [formGroup]="announceForm" >
      <h3>Incoming Files</h3>
      <input formControlName="title" placeholder="Control #" class="input" />
      <input formControlName="title" placeholder="Type of Document" class="input" />
      <input formControlName="title" placeholder="Control / Ref #" class="input" />
      <input formControlName="title" placeholder="Received From" class="input" />
      <input formControlName="title" placeholder="Title/Subject" class="input" />
      <input formControlName="title" placeholder="Receipient/Address" class="input" />
      <input formControlName="title" placeholder="Status" class="input" />
      <input formControlName="title" placeholder="Folder Name" class="input" />

      <div class="form-footer2">
        <div class="btn">
          <button class="post-btn" (click)="onSubmit()">
            <i class="fas fa-paper-plane"></i>
          </button>
          <button class="cancel-btn" (click)="showIncomingForm = false">
            <i class="fas fa-ban"></i>
          </button>
        </div>
      </div>
    </form>
    }

    @else if (showOutgoingForm) {
    <form class="form-box2" [formGroup]="announceForm" >
      <h3>Outgoing Files</h3>
      <input formControlName="title" placeholder="Control #" class="input" />
      <input formControlName="title" placeholder="Title/Subject" class="input" />
      <input formControlName="title" placeholder="Status" class="input" />
      <input formControlName="title" placeholder="Folder Name" class="input" />

      <div class="form-footer2">
        <div class="btn">
          <button class="post-btn" (click)="onSubmit()">
            <i class="fas fa-paper-plane"></i>
          </button>
          <button class="cancel-btn" (click)="showOutgoingForm = false">
            <i class="fas fa-ban"></i>
          </button>
        </div>
      </div>
    </form>
    }

    @else {
    <div class="widget">
      <span class="label">Today :</span>
      <span class="value">{{ today | date }}</span>
    </div>

    <div class="card-container">
      @for (a of filteredAnnouncements; track $index) {
      <div class="card" [ngClass]="'receiver-' + sanitizeReceiver(a.receiver)">
        <div class="card-header">
          <h3>
            {{ a.title }} @if (a.pinned) {
            <span title="Pinned">📌</span>
            }
          </h3>
        </div>
        <p>{{ a.message }}</p>
        <small
          >{{ a.date }} — <i><strong> {{ a.receiver }}</strong></i></small
        >
      </div>
      }

      <div class="card add-announcement-card" (click)="showNewForm = true">
        <div class="add-icon">+</div>
        <div class="add-label">Add Announcement</div>
      </div>
    </div>

    <div class="reminder-card">
      <div class="header">
        <h3>Reminders</h3>
        <i (click)="showReminderForm = true" class="fas fa-plus"></i>
      </div>
      <div class="reminder-list">
        @for (a of filteredReminders; track $index) {
        <div
          class="card"
          [ngClass]="'receiver-' + sanitizeReceiver(a.receiver)"
        >
          <div class="card-header">
            <h3>
              {{ a.title }} @if (a.pinned) {
              <span title="Pinned">📌</span>
              }
            </h3>
          </div>
          <p>{{ a.message }}</p>
          <small
            >{{ a.date }} — <i><strong> {{ a.receiver }}</strong></i></small
          >
        </div>
        }
      </div>
    </div>

    <div class="portfolio-sections">
      <div class="portfolio-section">
        <div class="header">
          <h3>Incoming</h3>
          <i (click)="showIncomingForm=true" class="fas fa-upload"></i>
        </div>
      </div>

      <div class="portfolio-section">
        <div class="header">
          <h3>Outgoing</h3>
          <i (click)="showOutgoingForm=true" class="fas fa-upload"></i>
        </div>
      </div>
    </div>

    }
  </div>
</div>
